{% extends 'base.html' %}
{% block content %}
    <div class='container p-5'>
        <h1 class="page-header text-center text-success">Welcome to admin home</h1>
    </div>
    <div class='container py-5'>
        <div class='row'>
            <div class="col-12 mb-5 mb-md-0 col-md-4 bg-warning rounded p-3">
                <h1 class="text-center"><a href="./pending_details" style="text-decoration:none;color:white">Pending Details</a></h1>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4 bg-success rounded p-3">
                <h1 class="text-center"><a href="./approved_details" style="text-decoration:none;color:white">Approved Details</a></h1>
            </div>
        </div>
    </div>

{% endblock %}