{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="container p-4">
        <h1 class="page-header text-center text-primary">Registeration page</h1>
    </div>
    
    <div class="container text-white p-4 rounded col-md-6 body">
            <form method='POST'>
                {% csrf_token %}
                <div class="form-group py-2">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter a Name" class="form-control"/>
                </div>
                <div class="form-group py-2">
                    <label>Age</label>
                    <input type="text" name="age" placeholder="Enter a age" class="form-control"/>
                </div>
                <div class="form-group py-2">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Enter a address" class="form-control"/>
                </div>
                <div class="form-group py-2">
                    <label>Mail</label>
                    <input type="text" name="mail" placeholder="Enter a mail" class="form-control"/>
                </div>
                <div class="form-group py-2">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter a username" class="form-control"/>
                </div>
                <div class="form-group py-2">
                    <label>Password</label>
                    <input type="text" name="password" placeholder="Enter a password" class="form-control"/>
                </div>
                <div class="form-group pt-4 d-flex justify-content-between">
                    <button type='submit'  class="btn btn-primary h-50" data-bs-toggle="modal" data-bs-target="#reg" style="box-shadow:3px 3px 10px 3px black">Submit</button>
                    <div class=" d-flex" style="height:40px">
                        <p class=" text-dark  mt-3" style="font-weight:bold;font-size:18px;">Click here to login</p>
                        <a href="./userlog" class="btn btn-primary px-3 ms-2">Login Page</a>
                    </div>
                </div>
            
            </form>
    </div>
    <div class="modal" id="reg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-flex">
                    <h2 class='text-center ms-5 pt-3'>
                        <img src="{% static "images/success tick.jpg" %}" style="width:20%;margin-bottom:2px"/>
                        Registered Successfully
                    </h2> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}